
// margin & padding
@for $i from 1 through 10 {
  .pt-#{$i * 10} {
    padding-top: $i * 10px;
  }
  .pb-#{$i * 10} {
    padding-bottom: $i * 10px;
  }
  .mt-#{$i * 10} {
    margin-top: $i * 10px;
  }
  .mb-#{$i * 10} {
    margin-bottom: $i * 10px;
  }
}

.btn {
  @include btn;
}




