* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  //font-family: 'Sofia', cursive;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

