
@mixin transition($value) {
  transition: $value;
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
}

@mixin border-radius($value) {
  border-radius: $value;
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  -ms-border-radius: $value;
  -o-border-radius: $value;
}

@mixin btn {
  display: inline-block;
  font-size: 1.3em;
  text-transform: capitalize;
  line-height: 30px;
  @include border-radius(3px);
  box-shadow: 1px 1px 2px $btn-bsd-cl;
  font-weight: 600;
  letter-spacing: 0.08em;
  padding: 14px 28px;
}

@mixin flex-layout($disp:flex, $jc:space-between, $ai: center) {
  display: $disp;
  justify-content: $jc;
  align-items: $ai;
}


