
$tt-cl-wh: #fff;
$tt-cl-wh-hv: #000;
$tt-cl-bl: #000;
$tt-cl-bl-hv: #fff;
$tt-cl-gr: #333;
$tt-cl-gr-hv: #fff;

$bd-cl-wh: #fff;
$bd-cl-wh-hv: #000;
$bd-cl-bl: #000;
$bd-cl-bl-hv: #fff;
$bd-cl-gr: #333;
$bd-cl-gr-hv: #fff;

$bg-cl-wh: #fff;
$bg-cl-wh-hv: #000;
$bg-cl-bl: #000;
$bg-cl-bl-hv: #fff;
$bg-cl-gr: #333;
$bg-cl-gr-hv: #fff;



