$bangla-font: 'Tiro Bangla', serif;
$regular-font: 'Poppins', sans-serif;
$sofia-font: 'Sofia', cursive;

$tt-cl-rd: #f00;
$tt-cl-wh: #fff;
$tt-cl-wh-hv: #000;
$tt-cl-bl: #000;
$tt-cl-bl-hv: #fff;
$tt-cl-gr: #333;
$tt-cl-gr-hv: #fff;

$bd-cl-rd: #f00;
$bd-cl-wh: #fff;
$bd-cl-wh-hv: #000;
$bd-cl-bl: #000;
$bd-cl-bl-hv: #fff;
$bd-cl-gr: #333;
$bd-cl-gr-hv: #fff;

$bg-cl-rd: #f00;
$bg-cl-wh: #fff;
$bg-cl-wh-hv: #000;
$bg-cl-bl: #000;
$bg-cl-bl-hv: #fff;
$bg-cl-gr: #333;
$bg-cl-gr-hv: #fff;

$btn-bsd-cl: #7c7c7cec;

$box-shadow: 0px 0px 2px #6d6d6d, 0px 0px 3px #6d6d6db8, 0px 0px 4px #6d6d6d5c;
