@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}

@media (min-width: 200px) and (max-width: 399px) {
  .container {
    width: 99%;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  .container {
    width: 98%;
    padding: 0 25px;
    margin: 0 auto;
  }
}

@media (min-width: 600px) and (max-width: 799px) {
  .container {
    width: 97%;
    padding: 0 30px;
    margin: 0 auto;
  }
}

@media (min-width: 800px) and (max-width: 999px) {
  .container {
    width: 96%;
    padding: 0 35px;
    margin: 0 auto;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  .container {
    width: 95%;
    padding: 0 40px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
    width: 94%;
    padding: 0 45px;
    margin: 0 auto;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1450px;
    padding: 0 100px;
    margin: 0 auto;
  }
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.btn {
  display: inline-block;
  font-size: 1.3em;
  text-transform: capitalize;
  line-height: 30px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px #7c7c7cec;
          box-shadow: 1px 1px 2px #7c7c7cec;
  font-weight: 600;
  letter-spacing: 0.08em;
  padding: 14px 28px;
}

header#main-header {
  padding: 14px 0;
  line-height: 0;
  -webkit-box-shadow: 0 2px 3px #00000026;
          box-shadow: 0 2px 3px #00000026;
}

header#main-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header#main-header .container .logo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header#main-header .container .logo-title .logo {
  width: 3em;
  margin-right: 6px;
}

header#main-header .container .logo-title .title h1 {
  font-size: 1.4em;
  margin-left: 4px;
}

header#main-header .container .main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header#main-header .container .main-menu ul li a {
  font-size: 1.1em;
  padding: 0 12px;
}

main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5px;
}

main .container .left-side,
main .container .right-side {
  -ms-flex-preferred-size: 16%;
      flex-basis: 16%;
  margin: 13px 0.30%;
}

main .container .emergency-link {
  -webkit-box-shadow: 0px 0px 2px #6d6d6d, 0px 0px 3px #6d6d6db8, 0px 0px 4px #6d6d6d5c;
          box-shadow: 0px 0px 2px #6d6d6d, 0px 0px 3px #6d6d6db8, 0px 0px 4px #6d6d6d5c;
  padding: 9px 16px;
  border-radius: 5px;
  margin-bottom: 23px;
}

main .container .emergency-link h2 {
  font-size: 1.1em;
  text-align: center;
  background: orange;
  padding: 7px;
  font-family: 'Tiro Bangla', serif;
  letter-spacing: 0.01em;
  word-spacing: .19em;
  border-top-left-radius: 6em;
  border-bottom-right-radius: 6em;
  margin-bottom: 15px;
}

main .container .emergency-link h5 {
  font-size: 1.2em;
  text-transform: capitalize;
  color: #f00;
  border-bottom: 2px solid #f00;
  display: inline-block;
  line-height: 15px;
}

main .container .emergency-link .date-coment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .8em;
  color: #a1a1a1;
  margin-bottom: 8px;
  text-transform: capitalize;
}

main .container .emergency-link p {
  margin: 14px 0px;
  text-transform: capitalize;
}

main .container .emergency-link > a {
  color: #2bff00;
  text-transform: capitalize;
}

main .container .emergency-link ul li a {
  padding: 2px 0;
  border-bottom: 2px solid #a9a9a996;
  display: block;
}

main .container .emergency-link ul li:last-child a {
  border-bottom: none;
  margin-bottom: 8px;
}

main .container .body-content {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  margin: 10px 0;
}

main .container .left-side .left-menu {
  -webkit-box-shadow: 0px 0px 2px #6d6d6d, 0px 0px 3px #6d6d6db8, 0px 0px 4px #6d6d6d5c;
          box-shadow: 0px 0px 2px #6d6d6d, 0px 0px 3px #6d6d6db8, 0px 0px 4px #6d6d6d5c;
  padding: 9px 16px;
  text-transform: capitalize;
  border-radius: 5px;
  margin-bottom: 23px;
}

main .container .left-side .left-menu h1 {
  text-align: center;
  padding: 10px 5px;
  color: #f00;
  font-size: 1.6em;
}

main .container .left-side .left-menu ul li a {
  padding: 7px 4px;
  font-weight: 600;
}

main .container .body-content h1 {
  text-align: center;
  font-weight: 500;
  font-size: 2em;
  font-family: "Tiro Bangla", serif;
  line-height: 2em;
  letter-spacing: 0.08em;
  word-spacing: 0.09em;
}

main .container .body-content .trending-today {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=index.css.map */